<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="team-card-title">
      {{ team.name }}
      <ul class="avatar-list" dense>
          <li class="avatar"><img src="http://fr1csluxp0002:4000/assets/man.jpeg"/></li>
          <li class="avatar"><img src="http://fr1csluxp0002:4000/assets/man.jpeg"/></li>
          <li class="avatar"><img src="http://fr1csluxp0002:4000/assets/man.jpeg"/></li>
          <li class="avatar-number">+6</li>
      </ul>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let area of team.areas">
          {{area.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="action-container">
    <div class="button-container">
      <button [routerLink]="['/teams', team.id]" mat-stroked-button color="primary">Details</button>
      <button mat-stroked-button color="primary">Remove</button>
    </div>
    <div>
      <mat-slide-toggle color="primary" [checked]="team.is_active"></mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>