<div class="page-container">

  <div class="page-content">

    <mat-toolbar class="group-detail-toolbar">
      <button [routerLink]="['/groups']" mat-icon-button>
        <mat-icon aria-label="Back to group list">arrow_back</mat-icon>
      </button>
    </mat-toolbar>

    <div class="group-detail-form">

      <mat-form-field>
        <input matInput placeholder="Group Name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Add access to Area</mat-label>
        <mat-select>
          <mat-option *ngFor="let area of areas" [value]="area.id">
            {{area.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </div>

</div>
