<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>
      {{ area.name }}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let door of area.doors">
          {{door.id}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="action-container">
    <div></div>
    <div>
      <mat-slide-toggle color="primary" [(ngModel)]="area.isActive" (click)="updateArea(area)"></mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>