.action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    margin-inline-start: 8px;
}

.mat-card-title {
    display: flex;
    align-items: center;
}