.page-container {
    height: 93vh;
    overflow: overlay;
}

.page-content {
    --cr-card-elevation_-_box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0, rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
    --cr-card-elevation_-_background-image: initial;
    background-image: var(--cr-card-elevation_-_background-image);
    box-shadow: var(--cr-card-elevation_-_box-shadow);
    background-color: white;
    box-sizing: border-box;
    margin: auto;
    min-height: 100%;
    padding-bottom: 64px;
    width: 850px;
}

.member-detail-form {
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
}

.member-detail-images {
    display: flex;
    align-self: center;
}

ul {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 1rem;
}

li {
    float: left;
    padding: 5px;
    text-align: center;
    margin-right: 40px;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.5s;
}

img {
    float: left;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.5s;
}

.image-remove {
    position: relative;
    top: 10px;
    right: 40px;
}