@import '~@angular/material/theming';

@media (min-width: 920px) {
  #hide-desktop {
    visibility: hidden !important;
  }
}

.sidenav {
  width: 260px;
}

.mat-drawer {
  background-color: #43425D;
}

.mat-toolbar {
  background: #FFFFFF;
}

.app-body {
  background-color: #F0F0F7;
}
