<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="side">

    <mat-toolbar>
      John Doe
    </mat-toolbar>

    <mat-list role="list">
      <mat-list-item role="listitem">
        <button routerLink="/members" mat-button>Members</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button routerLink="/teams" mat-button>Teams</button>
      </mat-list-item>
      <mat-list-item role="listitem">
        <button routerLink="/areas" mat-button>Areas</button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()" aria-label="Toggle sidenav">menu</mat-icon>
      </button>
      <span>FaceGate</span>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <div class="footer">
      <p>© FaceGate 2019</p>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>