.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3f51b5;
    color: white;
    text-align: center;
    z-index: 999;
    opacity: 0.95;
}

.sidenav {
    width: 256px;
}