<mat-toolbar>
  <span class="brand">FACEGATE</span>
</mat-toolbar>
<div class="sidenav-content">
  <mat-nav-list>
    <mat-list-item routerLink="/members" class="list-item" routerLinkActive="list-item-active">
      <mat-icon matListIcon>person</mat-icon>
      <a matLine>Members</a>
    </mat-list-item>
    <mat-list-item routerLink="/groups" class="list-item" routerLinkActive="list-item-active">
      <mat-icon matListIcon>people</mat-icon>
      <a matLine>Groups</a>
    </mat-list-item>
    <mat-list-item routerLink="/areas" class="list-item" routerLinkActive="list-item-active">
      <mat-icon matListIcon>meeting_room</mat-icon>
      <a matLine>Areas</a>
    </mat-list-item>
  </mat-nav-list>
</div>
