<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="group-card-title">
      {{ group.name }}
      <ul class="avatar-list" dense>
        <li class="avatar" *ngFor="let member of members | slice:0:3">
          <img alt="profile_picture" [src]="member.profilePictures[0].url"/>
        </li>
        <li class="avatar-number" *ngIf="members.length > 3">+{{members.length - 3}}</li>
      </ul>
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip *ngFor="let area of group.areas">
          {{area.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions class="action-container">
    <div class="button-container">
      <button [routerLink]="['/groups', group.id]" mat-stroked-button color="primary">Details</button>
      <button mat-stroked-button color="primary" (click)="removeGroup(group)">Remove</button>
    </div>
    <div>
      <mat-slide-toggle color="primary" [(ngModel)]="group.isActive" (click)="updateGroup(group)"></mat-slide-toggle>
    </div>
  </mat-card-actions>
</mat-card>
