@media (min-width: 450px) {
    #content-wrapper {
        padding: 24px 60px 64px;
    }
}

.cards {
    // source: chrome://extensions/
    --extensions-card-width: 400px;
    --grid-gutter: 12px;
    --max-columns: 3;
    display: grid;
    grid-column-gap: var(--grid-gutter);
    grid-row-gap: var(--grid-gutter);
    grid-template-columns: repeat(auto-fill, var(--extensions-card-width));
    justify-content: center;
    margin: auto;
    max-width: calc(var(--extensions-card-width) * var(--max-columns) + var(--grid-gutter) * var(--max-columns));
}

.mat-fab-bottom-right{
    position: fixed !important;
    right: 30px; 
    bottom: 30px;
}