@import '~@angular/material/theming';

@include mat-core();

$fg-dark-blue: (
    50 : #e8e8ec,
    100 : #c7c6ce,
    200 : #a1a1ae,
    300 : #7b7b8e,
    400 : #5f5e75,
    500 : #43425d,
    600 : #3d3c55,
    700 : #34334b,
    800 : #2c2b41,
    900 : #1e1d30,
    A100 : #7777ff,
    A200 : #4444ff,
    A400 : #1111ff,
    A700 : #0000f6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$fg-purple: (
    50 : #f4f4ff,
    100 : #e3e3fe,
    200 : #d1d0fd,
    300 : #bfbdfc,
    400 : #b1aefc,
    500 : #a3a0fb,
    600 : #9b98fa,
    700 : #918efa,
    800 : #8884f9,
    900 : #7773f8,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #f4f4ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-light-red: (
    50 : #ffeded,
    100 : #ffd1d1,
    200 : #ffb2b2,
    300 : #ff9393,
    400 : #ff7c7c,
    500 : #ff6565,
    600 : #ff5d5d,
    700 : #ff5353,
    800 : #ff4949,
    900 : #ff3737,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffe1e1,
    A700 : #ffc8c8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$facegate-app-primary: mat-palette($fg-dark-blue, 500);
$facegate-app-accent:  mat-palette($fg-purple, 500);
$facegate-app-warn:    mat-palette($md-light-red, 500);

$facegate-app-theme: mat-light-theme($facegate-app-primary, $facegate-app-accent, $facegate-app-warn);

@include angular-material-theme($facegate-app-theme);