<div class="page-container">

  <div class="page-content">
    <mat-toolbar class="member-detail-toolbar">
      <button mat-button routerLink="/members" color="warn">
        <mat-icon aria-label="Back to members list">arrow_back</mat-icon>
        Cancel
      </button>
    </mat-toolbar>

    <div class="member-detail-form">

      <!--<button mat-fab class="upload_picture_btn" color="primary" type="file" id="file">
        <mat-icon class="upload_picture_btn_icon" aria-label="Upload picture">add</mat-icon>
      </button>-->

      <div class="upload-container">
        <div *ngIf="picturesUrls.length === 0" class="upload-picture">
          <img src="../../../assets/file-upload.png" height="auto" width="250px" />
        </div>
        <div *ngIf="picturesUrls.length > 0" class="member-image-preview">

          <mat-card class="card-preview" *ngFor="let picturesUrl of picturesUrls">
            <img mat-card-image [src]="picturesUrl" alt="photos">
            <mat-card-actions>
              <button mat-button>Remove</button>
            </mat-card-actions>
          </mat-card>

        </div>
        <div class="upload-button">
          <input [hidden]="true" id="input-file" type='file' multiple (change)="onSelectFile($event.target.files)">
          <label for="input-file" class="mat-raised-button">Choose Files</label>
        </div>
      </div>

      <br>

      <mat-form-field>
        <input matInput placeholder="First Name" [(ngModel)]="member.firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Last Name" [(ngModel)]="member.lastName">
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let group of member.groups" [selectable]="true" [removable]="true"
            (removed)="removeGroup(group)">
            {{group.name}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add Group ..." #groupInput [formControl]="groupCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="addGroup($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectGroup($event)">
          <mat-option *ngFor="let group of filteredGroups | async" [value]="group">
            {{group.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Expiration Date" [(ngModel)]="member.expirationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <button mat-stroked-button color="primary" (click)="enrolMember()">Validate enrollment</button>
    </div>
  </div>

</div>