.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.action-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-container button {
    margin-inline-start: 8px;
}